$main-color: lightblue

body
  font-family: "Comic Sans MS"
  background-color: $main-color

.content
  margin-top: 20px
  background-color: $main-color

.match-box
  width: 150px
  height: 225px
  text-decoration: none
  color: #000

.flex-a
  background-color: lightblue
  height: 350px

.flex-b
  background-color: lightgreen
  height: 350px
