$main-color: lightblue

body
  font-family: "Comic Sans MS"
  background-color: $main-color

.content
  margin-top: 20px
  background-color: $main-color

.match-box
  width: 150px
  height: 225px
  text-decoration: none
  color: #000

.flex-a
  background-color: lightblue
  height: 350px

.flex-b
  background-color: lightgreen
  height: 350px


.startTimer
  background-color: forestgreen !important

.stopTimer
  background-color: red !important

.group_button
  margin: 5px 0
  color: rgb(49, 46, 46)
  background-color: rgba(224, 224, 224, 0.96)
  text-transform: none
  font-weight: 400
  min-width: 100px

.md-button
  &.left
    border-radius: 10px 0 0 10px

  &.right
    border-radius: 0 10px 10px 0

  &.middle
    border-radius: 0

.repriza
  &.active
    background-color: rgb(63, 81, 181) !important
    color: #fff

.controls
  max-width: 20px !important

.padded
  background: #F2FCE2
  margin: 5px 0
  padding: 5px
  height: 35px
  min-width: 100px
  text-transform: uppercase


  &.left
    border-radius: 10px 0 0 10px

  &.right
    border-radius: 0 10px 10px 0