<div layout>
    <md-content class="content" layout>
        <div id="canvas" flex="50">
            <div style="font-size: 24px; font-weight:bold; color: white; top: 590px; left:320px; z-index: 100; text-transform: uppercase">FC Dacia</div>
            <div style="font-size: 24px; font-weight:bold; color: white; top: 590px; left:820px; z-index: 100; text-transform: uppercase">FC Milsami</div>

            <img src="/img/grafica/repriza_2_scor_jos.png" width="1280">

            <img src="/img/grafica/logo_dacia.png" width="69.3" style="top: 560px; left: 206px;">
            <img src="/img/grafica/logo_milsami.png" width="69.3" style="top: 560px; left: 1006px;">


        </div>
    </md-content>
</div>