<div layout layout-align="center end">
    <md-button class="md-warn" ng-click="timerCtrl.timer.resetTimer(); timerCtrl.repriza = 1">Reset timer</md-button>
</div>
<div>
    <md-button ng-click="timerCtrl.setRepriza(1)" class="md-raised">Repriza 1</md-button>
    <md-button  ng-click="timerCtrl.setRepriza(2)" class="md-raised">Repriza 2</md-button>
</div>
<div layout="column">
    <div layout layout-align="center center" flex="50">
        <div flex="20">
            <md-button ng-click="timerCtrl.timer.startTimer()" ng-disabled="timerCtrl.timer.timerIsRunning" class="md-raised md-primary">Start</md-button>
        </div>
        <div flex="25">
            {{timerCtrl.timer.time}} ({{timerCtrl.timer.markMinute}}) <span>Repriza {{timerCtrl.repriza}}</span>
        </div>
        <div flex="10">
            <md-button ng-click="timerCtrl.timer.stopTimer()" ng-disabled="!timerCtrl.timer.timerIsRunning" class="md-raised md-primary">Stop</md-button>
        </div>
    </div>
    <div layout="column"><span>Modifica minute</span>
        <md-slider-container>
            <md-slider md-discrete min="0" max="{{timerCtrl.durataRepriza}}" aria-label="slider"></md-slider>
        </md-slider-container>
    </div>
</div>