<div layout="column">
    <md-input-container>
        <label for="name">Denumire echipa</label>
        <input id="name" ng-model="team.name">
    </md-input-container>
    <div>
        <md-input-container class="md-block">
            <label for="players">Componenta</label>
            <textarea id="players" rows="15" ng-model="team.player_txt" ng-change="team.renderPlayer()"></textarea>
        </md-input-container>
    </div>
    <div ng-show="settings.rezerve">
        <md-input-container class="md-block">
            <label for="rezerve">Rezerve</label>
            <textarea id="rezerve" rows="15" ng-model="team.reserve_txt" ng-change="team.renderReserve()"></textarea>
        </md-input-container>
    </div>
</div>