<div layout="column">
    <md-input-container>
        <label>Denumire echipa</label>
        <input ng-model="team.name">
    </md-input-container>
    <div>
        <md-input-container class="md-block">
            <label>Componenta</label>
            <textarea rows="15" ng-model="team.player_txt" ng-change="team.renderPlayer()"></textarea>
        </md-input-container>
    </div>
    <div ng-show="settings.rezerve">
        <md-input-container class="md-block">
            <label>Rezerve</label>
            <textarea rows="15" ng-model="team.reserve_txt" ng-change="team.renderReserve()"></textarea>
        </md-input-container>
    </div>
</div>