<a href="/">Home</a>
<div ng-cloak layout layout-align="center">
    <md-content flex="90" class="content">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Echipe">
                <md-content class="md-padding content" layout layout-align="space-between">
                    <team-info flex="40" team="matchCtrl.team1"></team-info>
                    <team-info flex="40" team="matchCtrl.team2"></team-info>
                </md-content>
            </md-tab>
            <md-tab label="Joc">
                <md-content class="md-padding content">
                    <game layout></game>
                </md-content>
            </md-tab>
            <md-tab label="Setari">
                <md-content class="md-padding content">
                    <settings></settings>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>