<md-dialog aria-label="Player Actions" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Player Actions</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                Actions
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button md-autofocus ng-click="actionsCtrl.hide()">
                Gol
            </md-button>
            <span id="openPoint" flex></span>
            <md-button ng-click="actionsCtrl.hide()">
                Not Useful
            </md-button>
            <md-button ng-click="actionsCtrl.hide()">
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>